

body {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    background-color: rgb(173, 173, 173);
    font-family: sans-serif;
}
header {
    position: sticky;
    z-index: 999;
    width: 100%;
    height: 80px;
    color:  white;
    background-color: rgba(55, 71, 114, 0.788);
    backdrop-filter: blur(20px);
    margin: 0;
    border: solid black 2px;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.image-container {
    width: 300px;
    height: 300px;
    margin: 1rem 0;
    flex-shrink: 0;
    background-color: rgb(197, 197, 197);
    border: solid black 2px;
    position: relative;
}
.image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.image-container svg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    padding: 3px;
    border: solid 3px black;
    background-color: rgba(255, 255, 255, 0.336);
}

.image-container svg:hover {
    background-color: rgba(255, 255, 255, 0.801);
}

        